body {
    margin: 0px;
    background-color: whitesmoke;
    min-width: 1200px;
    
    
}

header {
    background-color: red;
    font-family: sans-serif;
    padding-left: 50px;
    font-size: 30px;
    font-family: 'Londrina Solid', cursive;
    box-sizing: border-box;
    max-height: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.cow-head {
    position: absolute;
    width: 200px;
    margin-top: 120px;
    margin-left: 120px;
}


h1, h2 {
    color: yellow;
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    /* borrowed text shadow from internet */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: 10px;
    padding-bottom: 20px;
    letter-spacing: 1px;
   
}

h2 {
    display: inline-block;
    margin-left: 0px;
    margin-right: 50px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    padding: 20px 25px 20px 25px;
    margin-top: 0px;
    max-width: 300px;
    margin-left: 250px;
    border-radius: 50% 50% 50% 0%/80%;
    font-size: 100%;
    text-align: center;
    line-height: 25px;
    border: 2px solid #d6f5d6;
    margin-top: 10px;

}

a {
    text-decoration: none;
}



.container {
    margin-left: 10px;
    margin-right: 5px;
    display: flex;
    justify-content: space-around;
    min-height: 450px;
}

.left {
    width: 50%;
   background-repeat: no-repeat;
   background-position: center;
}

.right {
    width: 50%;
}

.questions {
    width: 60%;
    height: 93%;
    background-color: white;
    margin-left: 100px;
    margin-top: 60px;
    padding-top: 20px;
    /* I borrowed box shadow from the internet. */
    /* -webkit-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75); */
    /* end borrowing */
    /* border-radius: 4%; */
}

.questionsContainer {
    background-color: white;
    height: 40%;
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    border: 2px solid #d6f5d6;
    /* I borrowed box shadow from the internet. */
    /* -webkit-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75); */
    /* end borrowing */
    /* border-radius: 4%; */

}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 0px;
    margin-right: 39px;
    align-content: space-around;

}

li {
    list-style-type: none;
    width: 130px;
    height: 50px;
    background-color: white;
    margin-bottom: 20px;
    /* I borrowed box shadow from the internet. */
    /* -webkit-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75); */
    /* end borrowing */
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-align: center;
    border-radius: 3%;
    border: 2px solid #d6f5d6;
    
}

li:hover {
    background-color: whitesmoke;
    color: white;
}

button {
    position: relative;
    background-color: #d6f5d6;
    color: black;
    font-family: 'Raleway', sans-serif;
    padding: 10px 5px 10px 5px;
    border: none;
    font-size: 20px;
    margin-left: 30%;
   
}

footer p {
    padding-left: 35%;
    padding-right: 35%;
    background-color: yellow;
    margin-bottom: 0px;
    height: 30px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
}

.bull {
    position: absolute;
    width: 100px;
    margin-left: 500px;
    margin-top: 10px;
   
}

.girl {
    position: absolute;
    width: 50px;
    margin-left: 500px;
    margin-top: 60px;

}

.hleft {
    margin-right: 120px;
}




